package components

templ Footer() {
	<footer class="flex items-center justify-center py-12 md:py-16">
		<p class="text-center text-gray-600">
			© 2024 Tools Website. All rights reserved.
		</p>
	</footer>
}
