package components

templ LanguageDropdown(languages []string) {
	<select
 		name="targetLanguage"
 		class="p-2 border border-gray-300 rounded-lg mb-2 bg-no-repeat bg-right pr-8"
	>
		for _, language := range languages {
			<option>{ language }</option>
		}
	</select>
}
