package components

templ TranslateButton() {
	<div class="translate button-container">
		<button class="px-4 py-2 text-white bg-blue-500 rounded-lg hover:bg-blue-600">
			Translate
		</button>
	</div>
}
